<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.bisondev.learnandroid">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyService"
            android:exported="true" />

        <provider
            android:name=".MyContentProvider"
            android:authorities="cn.bisondev.learnandroid.MyContentProvider"
            android:exported="true" />

        <receiver android:name=".MyBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".learnlayout.LayoutActivity" />
        <activity android:name=".learnlayout.ConstraintActivity" />
        <activity android:name=".leranhardware.HardActivity" />
        <activity android:name=".learncontrol.ControlActivity" />
        <activity android:name=".learncontrol.securitycode.SecurityCodeActivity" />
        <activity android:name=".learnactivity.TestList" />
        <activity android:name=".learnactivity.ActListActivity" />
        <activity android:name=".learnactivity.TestLauncher" />
        <activity android:name=".learnactivity.ExpandableListActivityTest" />
        <activity
            android:name=".learnactivity.PreferenceActivityTest"
            android:label="设置程序的参数" />
        <activity android:name=".learnsystem.SystemActivity" />
        <activity
            android:name=".learnsystem.sms.SMSActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".learnnetwork.NetworkActivity" />
        <activity android:name=".learnnetwork.jsoup.TestJsoupActivity" />
        <activity android:name=".learncontrol.customize.CustomizeActivity" />
        <activity android:name=".learncontrol.list.ListViewActivity" />
        <activity android:name=".learncontrol.list.ScrollHideListView" />
        <activity android:name=".learncontrol.list.ChatActivity" />
        <activity android:name=".learncontrol.list.FocusListViewTest" />
        <activity android:name=".learncontrol.scroll.DragViewTest" />
        <activity android:name=".learncontrol.scroll.DragViewGroupTest"></activity>
    </application>

</manifest>